@using CSharp_MVC1.Models
@model User



@*@page
@model CSharp_MVC1.Views.User.IndexModel
@{
}*@

<div class="text-center">
@*    <h1>@ViewBag.User.Name - @ViewBag.User.Email</h1>
*@
    <h1>@Model.Name - @Model.Email</h1>
</div>
